*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

h1,
h2 {
  color: hsl(243 87% 12%);
  line-height: 1;
}

p {
  margin: 0;
}

/* Buttons */

.btn {
  text-transform: capitalize;
  border: 0;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.btn--block {
  width: 100%;
}

.btn--primary {
  background: hsl(224 93% 58%);
  color: #fff;
  box-shadow: 0 0 1rem hsl(0 0% 75%);
  transition: background 0.2s;
}

.btn--primary:hover,
.btn--secondary:hover {
  background: hsl(224 93% 68%);
}

.btn--secondary {
  background: hsl(224 93% 62%);
  color: #fff;
  transition: background 0.2s;
}

/* Icons */
.icon--small {
  width: 3rem;
  height: 3rem;
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  display: inline-flex;
  align-items: center;
  padding: 1px 0;
  border-bottom: 2px solid hsl(170 45% 43%);
  transition: border 0.3s;
}

.link-arrow a {
  color: hsl(170 45% 43%);
  transition: color 0.3s;
}

.link-arrow__icon {
  margin-left: 5px;
  transition: margin 0.3s;
  cursor: pointer;
}

.link-arrow:hover {
  border-bottom: 2px solid hsl(176 68% 64%);
}

.link-arrow:hover a {
  color: hsl(176 68% 64%);
}

.link-arrow:hover .link-arrow__icon {
  margin-left: 1rem;
}

/* input */
.input {
  padding: 1.4rem;
  margin-bottom: 2rem;
  border: 0.2rem solid hsl(243 87% 12%);
  border-radius: 0.5rem;
  width: 0;
  outline: 0;
}

.input--block {
  width: 100%;
}

.input__button {
  transition: width 0.2s;
}

::placeholder {
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  .input {
    margin: 0;
  }

  .input__button {
    width: 30%;
    margin-left: 1.5rem;
  }

  .input-group {
    display: flex;
    align-items: center;
  }
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Block */
.block {
  padding: 3.5rem 2rem;
}

.block h1,
.block h2 {
  margin-top: 0;
}

.block__header {
  text-align: center;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

/* Callout */
.callout-container {
  background: hsl(238, 22%, 44%);
}

.callout-container h2,
p {
  color: #fff;
}

.callout__input-group {
  width: 80%;
  margin: 2rem auto;
}

.callout__input-group .input {
  border: 0;
}

.list {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 1024px) {
  .callout {
    grid-template-columns: 1.5fr 1fr;
    gap: 5rem;
  }

  .callout__header {
    text-align: left;
    width: 75ch;
  }

  .callout__input-group {
    width: 100%;
  }

  .callout__input-group .input {
    margin-bottom: 2rem;
  }

  .callout__input-group .btn {
    width: fit-content;
  }
}

/* Navigation Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  margin: 0;
}

.nav__image {
  width: 100%;
}

.nav__item {
  display: inline-block;
}

.nav__item a {
  color: hsl(243, 87%, 12%);
}

.nav__item a:hover {
  text-decoration: underline;
}

.nav__item:nth-of-type(2) {
  margin: 0 1rem;
}
