<section class="block block-features">
  <div class="container grid grid--1x2">
    <div class="block-features__content">
      <div class="block__header block-features__header">
        <h2>Stay productive, wherever you are</h2>
        <p>
          Never let location be an issue when accessing your files. Fylo has you
          covered for all of your file storage needs.
        </p>
        <p>
          Securely share files and folders with friends, family and colleagues
          for live collaboration. No email attachments required!
        </p>
      </div>
      <div class="link-arrow block-features__link">
        <a href="#">See how Fylo works</a>
        <svg class="icon icon--small link-arrow__icon">
          <use href="images/sprite.svg#icon-arrow"></use>
        </svg>
      </div>
      <section class="testimonial block-features__testimonial">
        <svg class="icon testimonial__icon">
          <use href="images/sprite.svg#icon-quotes"></use>
        </svg>
        <p class="testimonial__text">
          Fylo has improved our team productivity by an order of magnitude.
          Since making the switch our team has become a well-oiled collaboration
          machine.
        </p>
        <div class="media testimonial__media">
          <img
            class="media__image"
            src="images/avatar-testimonial.jpg"
            alt=""
          />
          <div class="media__content">
            <h3 class="media__heading">Kyle Burton</h3>
            <p>Founder & CEO, Huddle</p>
          </div>
        </div>
      </section>
    </div>

    <img class="block-features__image" src="images/illustration-2.svg" alt="" />
  </div>
</section>
