<section class="block block-footer">
  <footer class="container footer">
    <img src="images/logo-footer.svg" alt="" class="icon footer__logo" />
    <div>
      <div class="media footer__info">
        <svg class="icon">
          <use href="images/sprite.svg#icon-phone"></use>
        </svg>
        <div class="media__content">
          <p>+1-543-123-4567</p>
        </div>
      </div>
      <div class="media footer__info">
        <svg class="icon">
          <use href="images/sprite.svg#icon-email"></use>
        </svg>
        <div class="media__content">
          <p>example@fylo.com</p>
        </div>
      </div>
    </div>
    <ul class="list">
      <li class="footer__item"><a href="#">About Us</a></li>
      <li class="footer__item"><a href="#">Jobs</a></li>
      <li class="footer__item"><a href="#">Press</a></li>
      <li class="footer__item"><a href="#">Blog</a></li>
    </ul>
    <ul class="list">
      <li class="footer__item"><a href="#">Contact Us</a></li>
      <li class="footer__item"><a href="#">Terms</a></li>
      <li class="footer__item"><a href="#">Privacy</a></li>
    </ul>
    <div class="footer__socials">
      <span class="fa-brand"><i class="fa-brands fa-facebook-f"></i></span>
      <span class="fa-brand"><i class="fa-brands fa-twitter"></i></span>
      <span class="fa-brand"><i class="fa-brands fa-instagram"></i></span>
    </div>
  </footer>
</section>
