<section class="block">
  <div class="container grid grid--1x2">
    <div class="block__header">
      <h1>All your files in one secure location, accessible anywhere.</h1>
      <p class="hero__text">
        Fylo stores your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends, family, and
        co-workers.
      </p>
      <form class="input-group hero__input-group">
        <input
          class="input input--block"
          type="emai"
          required
          placeholder="Enter your email..."
        />
        <button type="submit" class="btn btn--primary btn--block input__button">
          get started
        </button>
      </form>
    </div>
    <img class="hero__image" src="images/illustration-1.svg" alt="" />
  </div>
</section>
